In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
fitness_data = "resources/fitness_trends.csv"

In [3]:
fitness_df = pd.read_csv(fitness_data)
fitness_df.head(50)

,date,step_count,mood,calories_burned,hours_of_sleep,bool_of_active,weight_kg
0,10/6/2017,5464,200,181,5,0,66
1,10/7/2017,6041,100,197,8,0,66
2,10/8/2017,25,100,0,5,0,66
3,10/9/2017,5461,100,174,4,0,66
4,10/10/2017,6915,200,223,5,500,66
5,10/11/2017,4545,100,149,6,0,66
6,10/12/2017,4340,100,140,6,0,66
7,10/13/2017,1230,100,38,7,0,66
8,10/14/2017,61,100,1,5,0,66
9,10/15/2017,1258,100,40,6,0,65
10,10/16/2017,3148,100,101,8,0,65
11,10/17/2017,4687,100,152,5,0,65
12,10/18/2017,4732,300,150,6,500,65
13,10/19/2017,3519,100,113,7,0,65
14,10/20/2017,1580,100,49,5,0,65
15,10/21/2017,2822,100,86,6,0,65
16,10/22/2017,181,100,6,8,0,65
17,10/23/2017,3158,200,99,5,0,65
18,10/24/2017,4383,200,143,4,0,64
19,10/25/2017,3881,200,125,5,0,64
20,10/26/2017,4037,200,129,6,0,64
21,10/27/2017,202,200,6,8,0,64
22,10/28/2017,292,200,9,5,0,64
23,10/29/2017,330,300,10,6,0,64
24,10/30/2017,2209,200,72,5,0,64
25,10/31/2017,4550,300,150,8,500,64
26,11/1/2017,4435,300,141,5,0,64
27,11/2/2017,4779,300,156,4,0,64
28,11/3/2017,1831,300,57,5,0,64
29,11/4/2017,2255,300,72,4,0,64
30,11/5/2017,539,300,17,5,500,64
31,11/6/2017,5464,300,181,4,0,64
32,11/7/2017,6041,200,197,3,0,64
33,11/8/2017,4068,300,131,2,0,64
34,11/9/2017,4683,300,154,9,0,64
35,11/10/2017,4033,300,137,5,0,64
36,11/11/2017,6314,300,193,6,500,64
37,11/12/2017,614,300,19,4,500,64
38,11/13/2017,3149,300,101,5,500,64
39,11/14/2017,4005,300,139,8,500,64
40,11/15/2017,4880,300,164,4,500,64
41,11/16/2017,4136,300,137,5,500,64
42,11/17/2017,705,300,22,6,500,64
43,11/18/2017,570,200,17,5,500,64
44,11/19/2017,269,300,9,6,500,64
45,11/20/2017,4275,300,145,5,0,64
46,11/21/2017,5999,300,192,6,0,64
47,11/22/2017,4421,300,146,5,0,64
48,11/23/2017,6930,300,234,6,0,64
49,11/24/2017,5195,300,167,5,0,64

In [4]:
#get rid of mood column
#get rid of step_count
fitness_df.drop(['mood'], axis = 1, inplace = True)
fitness_df

,date,step_count,calories_burned,hours_of_sleep,bool_of_active,weight_kg
0,10/6/2017,5464,181,5,0,66
1,10/7/2017,6041,197,8,0,66
2,10/8/2017,25,0,5,0,66
3,10/9/2017,5461,174,4,0,66
4,10/10/2017,6915,223,5,500,66
...,...,...,...,...,...,...
91,1/5/2018,133,4,2,0,64
92,1/6/2018,153,0,8,0,64
93,1/7/2018,500,0,5,500,64
94,1/8/2018,2127,0,5,0,64
95,1/9/2018,2203,0,5,500,64

In [15]:
fitness_file = fitness_df.sort_values('hours_of_sleep')
fitness_file.head(50)

#change levelof activity name

,date,step_count,calories_burned,hours_of_sleep,bool_of_active,weight_kg
91,1/5/2018,133,4,2,0,64
33,11/8/2017,4068,131,2,0,64
89,1/3/2018,2599,84,2,0,64
80,12/25/2017,518,16,3,0,64
65,12/10/2017,1648,53,3,500,64
70,12/15/2017,437,14,3,500,64
64,12/9/2017,2909,93,3,500,64
86,12/31/2017,36,1,3,0,64
88,1/2/2018,1447,47,3,0,64
90,1/4/2018,702,23,3,0,64
32,11/7/2017,6041,197,3,0,64
87,1/1/2018,299,10,3,0,64
71,12/16/2017,1231,39,4,500,64
72,12/17/2017,1696,55,4,0,64
66,12/11/2017,799,25,4,0,64
27,11/2/2017,4779,156,4,0,64
18,10/24/2017,4383,143,4,0,64
29,11/4/2017,2255,72,4,0,64
63,12/8/2017,2374,76,4,0,64
79,12/24/2017,753,28,4,0,64
31,11/6/2017,5464,181,4,0,64
81,12/26/2017,5537,180,4,500,64
40,11/15/2017,4880,164,4,500,64
84,12/29/2017,3066,99,4,500,64
3,10/9/2017,5461,174,4,0,66
37,11/12/2017,614,19,4,500,64
62,12/7/2017,3721,121,5,500,64
55,11/30/2017,3608,116,5,500,64
49,11/24/2017,5195,167,5,0,64
0,10/6/2017,5464,181,5,0,66
73,12/18/2017,4921,158,5,500,64
68,12/13/2017,3941,125,5,500,64
69,12/14/2017,7422,243,5,500,64
94,1/8/2018,2127,0,5,0,64
74,12/19/2017,221,7,5,500,64
75,12/20/2017,6500,213,5,500,64
76,12/21/2017,3575,116,5,500,64
77,12/22/2017,4061,129,5,0,64
78,12/23/2017,651,21,5,0,64
82,12/27/2017,4108,138,5,500,64
83,12/28/2017,5376,176,5,500,64
85,12/30/2017,177,5,5,0,64
93,1/7/2018,500,0,5,500,64
67,12/12/2017,7102,227,5,500,64
45,11/20/2017,4275,145,5,0,64
47,11/22/2017,4421,146,5,0,64
95,1/9/2018,2203,0,5,500,64
30,11/5/2017,539,17,5,500,64
24,10/30/2017,2209,72,5,0,64
35,11/10/2017,4033,137,5,0,64

In [14]:
#saving df into csv file 
fitness_df.to_csv('fitness.csv', index=False)